.Mini-widget {
  display: flex;
  justify-content: space-between;
}

.Mini-widget .component {
  color: white;
  display: flex;
  /* width: 25%; */
  width: 16vw;
  flex-direction: column;
  align-items: center;
}

.Mini-widget .component h3 {
  margin-bottom: 5px;
}

.Mini-widget .component p {
  color: #dcdcdc;
  font-weight: 400;
  padding: 0 0.3rem;
}
