.OrdersPage {
  padding: 1.5rem;
  overflow: hidden;
  color: white;
}

.OrdersPage .custom-card {
  display: flex;
  flex-direction: column;
}

.OrdersPage .custom-card .top-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.OrdersPage table {
  table-layout: fixed;
}

.UserSeperate {
  color: #ddd;
  padding: 2rem;
}

.UserSeperate .CustomCard {
  display: flex;
}

.UserSeperate h3 {
  color: white;
}

.UserSeperate .CustomCard div {
  width: 100%;
}

.UserSeperate .CustomCard b {
  font-weight: 600;
  color: #fff;
}

.UserSeperate .CustomCard div img {
  width: 450px;
  border-radius: 15px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.UserSeperate .CustomCard div h3 {
  margin-bottom: 15px;
}

.UserSeperate .CustomCard div p:nth-child(4) {
  margin-bottom: 10px;
}


.SeperateOrderPage {
  padding: 1rem;
  color: white;
}


.OrdersPage {
  color: #ddd;
  padding: 2rem;
}

.OrdersPage h3 {
  color: white;
}

.OrdersPage .CustomCard div {
  width: 100%;
}

.OrdersPage a {
  color: #fff;
}

.OrdersPage .CustomCard b {
  font-weight: 600;
  color: #fff;
}