.OrdersPage {
  padding: 1.5rem;
  overflow: hidden;
  color: white;
}

.OrdersPage .custom-card {
  display: flex;
  flex-direction: column;
}

.OrdersPage .custom-card .top-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.OrdersPage table {
  table-layout: fixed;
}

.UserSeperate {
  color: #ddd;
  padding: 2rem;
}

.UserSeperate .CustomCard .Row {
  display: flex;
}

.UserSeperate h3 {
  color: white;
}

.UserSeperate .CustomCard .Row div {
  width: 100%;
}

.UserSeperate .CustomCard b {
  font-weight: 600;
  color: #fff;
}

.UserSeperate .CustomCard .Row div img {
  width: 450px;
  border-radius: 15px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.UserSeperate .CustomCard div h3 {
  margin-bottom: 15px;
}

.UserSeperate .CustomCard div p:nth-child(4) {
  margin-bottom: 10px;
}

.custom-card-sep {
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.custom-card-sep input,
.custom-card-sep select {
  margin-left: 2rem;
  padding: 0.4rem 1rem;
  background-color: #242424;
  border: none;
  border-radius: 5px;
  color: white;
  width: 60%;
}

.custom-card-sep label {
  display: block;
  margin-bottom: 1rem;
}

.custom-card-sep input:focus {
  outline: none;
}

.custom-card-sep {
  padding-bottom: none;
}

.custom-card-sep label .Addspace {
  width: 4px;
}
